/* login.css */

body {
  font-family: 'Arial', sans-serif;
  background: #f8f9fa;
}

.container-l {
  max-width: auto; /* Set a maximum width for smaller screens */
  margin: auto;
  margin-top: 150px;
  padding-top: 150px;

  padding: 40px; /* Adjust padding for smaller screens */
  background: #2e095e;
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px; /* Adjust padding for smaller buttons */
}

.btn-secondary {
  margin-left: 10px;
  padding: 10px 20px; /* Adjust padding for smaller buttons */
}

.btn-secondary:hover {
  background-color: #6c757d;
}

.log {
  font-size: 10px;
  color: green;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .container-l {
    padding: 20px; /* Reduce padding on smaller screens */
  }

  .form-group {
    margin-bottom: 10px; /* Reduce spacing between form elements */
  }

  h2 {
    font-size: 18px; /* Reduce heading size on smaller screens */
  }
}
